.updatePasswordContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgb(231, 231, 231);

}

.updatePasswordBox {
    background-color: white;
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
}

.updatePasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 2vmax;
    height: 70%;
    transition: all 0.5s;
}


.updatePasswordForm>div {
    display: flex;
    width: 100%;
    align-items: center;
}

.updatePasswordBox>h2{
    text-align: center;
    margin: auto;
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    color: rgba(0, 0, 0, 0.63);
    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    
}
.updatePasswordForm>div>input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.37);
    outline: none;
    font: 300 0.9vmax cursive;
    border-radius: 4px;
}

.updatePasswordForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font: 400 1.6vmax "Roboto";
    color: rgba(0, 0, 0, 0.63);
}


.updatePasswordBtn{
    border: none;
    background-color: rgb(7, 180, 192);
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.37);
}
.updatePasswordBtn:hover{
    background-color: rgb(7, 153, 163);
}


@media screen and (max-width: 600px) {
    .updatePasswordContainer{
        background-color: white;
    }
    .updatePasswordBox{
        width: 100vw;
        height: 95vh;
    }
   
    .updatePasswordForm{
        padding: 5vmax;
    }
    .updatePasswordForm>div>input{
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
    }
    .updatePasswordForm>div>svg{
        font-size: 2.8vmax "Roboto";
    }
  
    .updatePasswordBtn{
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
}